# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
bun.lockb

.yalc/
yalc.lock

.npmrc
.venv

bun.lockb

notes.txt
test-comps

*.pyc
.codex/
tsconfig.tsbuildinfo

agent/out/
agent/telas-exemplo/
agent/prompts/jsons_gerados/
agent/prompts/*_compilado.txt
generated/
